.student-dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  .student-dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background: #f5f5f5;
  }
  
  .student-dashboard-content h2 {
    margin-bottom: 10px;
  }
  